.mobileMenu {
  width: 200px;
  position: absolute;
}
.mobile_menu{
  width: 200px;
  background-color: #108EE9;
  position: absolute;
  margin-right: 0;
  top: 0;
  bottom: 0;
  right: -200px;
  z-index: 10001;
  transition: all 0.5s;
  -moz-transition: all 0.5s; /* Firefox 4 */
  -webkit-transition: all 0.5s; /* Safari 和 Chrome */
  -o-transition: all 0.5s; /* Opera */
}
.mobile_menu_show{
  width: 200px;
  background-color: #108EE9;
  position: absolute;
  margin-right: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10001;
  transition: all 0.5s;
  -moz-transition: all 0.5s; /* Firefox 4 */
  -webkit-transition: all 0.5s; /* Safari 和 Chrome */
  -o-transition: all 0.5s; /* Opera */
}

.mobile_top_bar {
  background-color: white;
}
.menu_btn {
  margin: 16px 0;
  border: none;
  float: right;
}
.menu_btn:active {
  background: none;
  border: none;
}
.menu_icon {
  font-size: 30px;
  color: #108EE9;
}
.modal_menu > .ant-modal-content {
  position: relative;
  background-color: transparent !important;
  border: 0;
  border-radius: 4px;
  background-clip: padding-box;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.modal_menu > .ant-modal-body {
  padding: 0;
}
